default_lease_ttl = "{{ vault_default_lease_ttl }}"
max_lease_ttl = "{{ vault_max_lease_ttl }}"

api_addr = "https://{{ inventory_hostname }}:8200"
cluster_addr = "https://{{ inventory_hostname }}:8201"

listener "tcp" {
  address = "0.0.0.0:8200"
  tls_cert_file = "/etc/letsencrypt/live/{{ inventory_hostname }}/fullchain.pem"
  tls_key_file = "/etc/letsencrypt/live/{{ inventory_hostname }}/privkey.pem"
}

storage "raft" {
  path = "/vault/raft"
  node_id = "{{ inventory_hostname }}"

{% for peer_node in groups['vault'] %}
  retry_join {
    leader_api_addr = "https://{{ peer_node }}:8200"
  }
{% endfor %}

}
