---
vaults:
{% for vault in groups['vault'] %}
  - {{ vault }}
{% endfor %}
keys:
{% for key in vault_init.json.keys_base64 %}
  - {{ key }}
{% endfor %}
{% if 'root_token' in vault_init.json %}
root_token: {{ vault_init.json.root_token }}
{% endif %}
