
storage_source "raft" {
  path = "/vault/raft"
  node_id = "{{ inventory_hostname }}"

{% for peer_node in groups['vault'] %}
  retry_join {
    leader_api_addr = "https://{{ peer_node }}:8200"
  }
{% endfor %}

}

storage_destination "file" {
 path = "/backup/"
}
